<div class='fluid-container'>
  <%# <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://kokuwa-ds.jp/wp-content/uploads/star_theaters_banner.jpg);"> %>
  <div class='home-banner-container'>
    <%= cl_image_tag('https://res.cloudinary.com/do7v9dtgm/image/upload/v1678857944/popcorn_vwkgom.jpg', class: 'home-banner') %>
  </div>
    <h1>Movie house</h1>

  <%# </div> %>
  <h1 class='header'>Top rated</h1>
  <div class='cards'>
    <%# <div data-controller='search-movies'>
    <%= form_with url: lists_path, method: :get, html: {class:
      "mb-4", data: {search_movies_target: "form"}} do |f| %>
      <%# <%= f.text_field :query,
                     class: "form-control",
                     placeholder: "Type a movie title",
                     value: params[:query],
                     data: {search_movies_target: "input"} %>
                     <%# <% end %>
    <%# </div> %>
    <%= render "shared/movies/top_rated" %>
  </div>
</div>
