<div class='container'>
  <div class='list-card'>
      <div class='card'>
        <% @list.bookmarks.each do |bookmark| %>
        <%# <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/home-alone-1585876454.jpg" alt="" class='card-img-top'> %>
          <%= image_tag bookmark.movie.poster_url  %>
            <div class="card-body">
              <h4><%= bookmark.movie.title %></h4>
            </div>
        <% end %>
      </div>
  </div>

  <%= link_to 'Create a new list', new_list_path %>
  <%= link_to 'Delete this list' %>
</div>
