.custom-page-container {
  padding: 3rem 5rem 3rem 5rem;
  gap: 2rem;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.custom-page-header {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 5rem;

  h1 {
    color: white;
    border-bottom: 5px solid#73c3f9;
    font-size: 3rem;
    width: 14rem;
  }
}

#now-playing-header {
  width: 19rem;
}
