.home-banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
}

.home-banner-container h1 {
  position: absolute;
  text-align: center;
}

.home-banner {
  width: 80%;
  height: 100%;
  object-fit: cover;
}

.movies-container {
  display: flex;
  flex-direction: column;
  padding: 5rem 8rem 3rem 8rem;
}

.movies-header-container {
  display: flex;
}

.movies-header {
  color: white;
  border-left: 7px solid#73c3f9;
  padding-left: 1rem;
  // margin-left: 7%;
}
