<div class='fluid-container'>
  <div class='home-banner-container'>
    <%= cl_image_tag('https://res.cloudinary.com/do7v9dtgm/image/upload/v1678887570/pexels-nathan-engel-436413_tcvgq0.jpg', class: 'home-banner') %>
    <h1>Movie house</h1>
  </div>
  <h1 class='header'>Top rated</h1>
  <div class='cards'>
    <%= render "shared/top_rated" %>
  </div>
</div>
