<div class='custom-page-header'>
  <h1 class=>Top rated</h1>
</div>
<div class='custom-page-container'>
  <% @movies.each do |movie| %>
    <%= render partial: 'movie_card', locals: { movie: movie } %>
  <% end %>
</div>
