<div class='custom-page-header'>
  <h1>Upcoming</h1>
</div>
<div class='custom-page-container'>
  <% Movie.where(group: 'upcoming').each do |movie| %>
    <%= render partial: 'movie_card', locals: { movie: movie } %>
  <% end %>
</div>
