<% Movie.all.each do |movie| %>
  <% if movie.group == 'top_rated' %>
  <div class='card'>
    <%= image_tag movie.poster_url, class: 'card-img' %>
    <div class="card-body">
      <p>⭐<%= movie.rating %></p>
      <%= movie.title %>
    </div>
  </div>
  <% end %>
<% end %>
