.bookmark-btn {
  border: #2020209e;
  border-radius: 50px;
  height: 45px;
  width: 47px;
  font-size: 20px;
  color: white;
  background-color: #2020209e;
  padding: 0;
  position: relative;
  right: -196px;
  top: 5px;
}

.bookmark-case {
  height: 0;
  width: 0;
}

.bookmark-case :hover {
  background-color: #202020e6;
}
