.bookmark-case {
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px;
  z-index: 1;
  padding: 4px 8px;
}

.remove-bookmark-btn {
  height: 1em;
  width: 1em;
}

.bookmark-case a:hover {
  color: white;
}

.bookmark-case form {
  display: inline-block;
}

.bookmark-btn {
  font-size: 22px;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  width: 2em;
  color: white;
}
