.navbar-lewagon {
  position: sticky;
  top: 0;
  justify-content: space-between;
  background: rgb(69, 66, 66);
  height: 56px;
}

.navbar-brand {
 padding-left: 32px;
}

.collapse {
  padding-right: 32px;
}

.nav-item {
  padding-right: 24px;
}

.nav-link {
  color: whitesmoke;
  border-radius: 8px;
  font-size: 24px;
}

.nav-link:hover {
  background-color: #616060b5;
  color: whitesmoke;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
