.my-navbar {
  position: fixed;
  top: 0;
  justify-content: space-between;
  background: #353434;
  height: 56px;
  width: 100%;
  z-index: 9999;
}

.navbar-brand {
 padding-left: 32px;
}

.collapse {
  padding-right: 32px;
}

.navbar-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  padding: 10px 12px;
}

.nav-link {
  color: whitesmoke;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
}

.nav-link:hover {
  background-color: #61606082;
  color: whitesmoke;
}

.my-navbar .navbar-collapse {
  flex-grow: 0;
}

.my-navbar .navbar-brand img {
  width: 40px;
}
